#blog-archives{
  h2{
    font-size: 28px;
    top: 14px;
  }
  time{
    top: 44px;
    font-size: 16px;
  }

  article h1{
    font-size: 28px;  
    color: orange;
  }

  span.categories a{
    font-size: 18px;  
    text-decoration: underline;
  }
  a:hover{
    color: orange;  
  }

  h1 a:hover{
    color: #aaa;  
  }
}

.blog-index{
  .blog-archives{
    padding: 4px 12px;
    color: #fff;  
    background: #555;
    font-size: 24px;
    &:hover{ color: orange;}
  }
  article h1 a{
    font-size: 30px;
    color: orange;
    &:hover{color: #aaa;}
  }

  footer a{
    padding: 4px 8px;
    background: #555;  
    color: white;
  }
  .pagination a{
    padding: 4px 8px;
    background: #555;  
    color: white;
  }

  .pagination{
    margin-left: 0 !important;
  }
}
