<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include blog/blog_header.html %}
    <section id="blog-content">
      <div class="container">
        <div class="row">

          <div class="col-sm-1 left-side-bar">
          </div>

          <div class="col-sm-8">
            {{ content }}
          </div>

          <div class="col-sm-3 hidden-xs right-side-bar">
            {% include blog/right_side_bar.html %}
          </div>

        </div>
      </div>
    </section>
    {% include footer.html %}
  </body>
</html>


