<section id="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="footer-get">
          <h1>Get &nbsp;in &nbsp;Touch</h1>
          <a href="https://maps.google.com/maps?f=d&amp;source=s_q&amp;hl=en&amp;geocode=%3BCQlbFE2_0HmAFcWd3gAdVjo3BynvWuncGciXMzHNRBAqjIqGSA&amp;q=Appsource+Inc.,+Metro+Manila,+Philippines&amp;aq=0&amp;oq=appsource&amp;sll=14.589434,121.060029&amp;sspn=0.003104,0.006105&amp;ie=UTF8&amp;hq=Appsource+Inc.,+Metro+Manila,+Philippines&amp;hnear=&amp;radius=15000&amp;t=m&amp;z=13&amp;vpsrc=0&amp;iwloc=A&amp;daddr=Appsource+Inc.,+Unit+1401,+Robinsons+Equitable+Tower,+ADB+Avenue+corner+Poveda+Road,+Ortigas+Center+1605,+Philippines">
            <img class="block" id="u1511_img" src="/images/map.jpg" alt="">
          </a>
          <p>
            Unit 601 & 603 Tower B, BSA Twin Towers,<br>
            Bank Drive, Ortigas Centre,<br>
            Mandaluyong City 1550 Philippines<br>
            Office Hours 9:00 AM - 5:00 PM
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="footer-call">
          <h1>Call &nbsp;Us</h1>
          <p>
            Telefax: (02) 477 APPS<br>
            <img src="/images/mobile.png" alt="" width="9" height="15">&nbsp;&nbsp; Mobile: +63 917 839-APPS
          </p>
        </div>
        <div class="footer-email">
          <h1>Email &nbsp;Us</h1>
          <p>
            For Information: <a href="mailto:info@appsource.biz">info@appsource.biz</a><br>
            For Job Applications: <a href="mailto:join@appsource.biz">join@appsource.biz</a><br>
            For Technical Support: <a href="mailto:support@appsource.biz">support@appsource.biz</a><br>
            For Billing Concerns: <a href="mailto:billing@appsource.biz">billing@appsource.biz</a><br>
            Managing Director: <a href="mailto:mcantero@appsource.biz">mcantero@appsource.biz</a>
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="footer-work">
          <h1>Work &nbsp;with &nbsp;Us</h1>

          <form action="http://getsimpleform.com/messages?form_api_token=8b4160fbad5bb0ae7e3167e5bc085acf" method="post">
            <div class="form-group">
              <input name='full_name' type="text" class="form-control" id="exampleInputEmail2" placeholder="Name" required>
            </div>
            <div class="form-group">
              <input name='email' type="email" class="form-control" id="exampleInputEmail2" placeholder="Email" required>
            </div>
            <div class="form-group">
              <input name='subject' type="text" class="form-control" id="exampleInputEmail2" placeholder="Subject">
            </div>
            <div class="form-group">
              <textarea name='message' placeholder="Message" style="width: 100%;" required></textarea>
            </div>
            <div class="form-group">
              <button type="submit" class="send col-xs-12">Send Message</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

