<section id="top-margin">
  <div class="top-yellow"></div>
  <div class="top-orange"></div>
  <div class="top-blue"></div>
  <div class="top-green"></div>
  <div class="top-yellow"></div>
  <div class="top-orange"></div>
  <div class="top-blue"></div>
  <div class="top-green"></div>
  <div class="top-yellow"></div>
  <div class="top-orange"></div>
</section>

<section id="navigation">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-xs-4">
        <a href="/">
          <img src="/images/appsource-logo.png" class="appsource-logo"/>
        </a>
      </div>
      <div class="col-sm-6 col-xs-8">
        <ul class="top-navigation pull-right">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/about_us">About &nbsp; Us</a>
          </li>
          <li>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Services</a>
            <ul class="dropdown-menu">
              <li><a href="/staffing">Staffing &nbsp;and&nbsp; Head&nbsp; Hunting</a></li>
              <li><a href="/infrastructure">Infrastructure&nbsp; and&nbsp; Solutions</a></li>
              <li><a href="/appsdev">Web&nbsp; &&nbsp; Apps&nbsp; Development</a></li>
            </ul>
          </li>
          <li>
            <a href="/blog/archives">Blog</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>


