<section id="back-to-home">
  <div class="container">
    <div class="row">
      <a href="/">
        BACK TO HOME
      </a>
    </div>
  </div>
</section>

<section id="top-margin">
  <div class="top-yellow"></div>
  <div class="top-orange"></div>
  <div class="top-blue"></div>
  <div class="top-green"></div>
  <div class="top-yellow"></div>
  <div class="top-orange"></div>
  <div class="top-blue"></div>
  <div class="top-green"></div>
  <div class="top-yellow"></div>
  <div class="top-orange"></div>
</section>

<section id="blog-header">
  <div class="container">
    <div class="row">
      <a href="/blog">
        <img src="/images/blog.png" class="blog-logo"/>
      </a>
      <p>We love keeping you informed of the latest trend in the tech industry.</p>
    </div>
  </div>
</section>

